:root {
    --sky-day: lightblue;
    --sky-night: darkblue;
    --water-top: #4C7DDC;
    --sun: yellow;
    --cloud-one: rgb(165, 165, 165);
    --cloud-two: lightgrey;
    --first-water-color: #94BFFF;
    --second-water-color: #434AFF;
    --third-water-color: #202F88;
}
